@font-face{
    font-family: "headerFont";
    src:url("../../font/Helvetica-Oblique.otf");   
}

@font-face{
    font-family: "filterFont";
    src:url("../../font/Helvetica-Bold.otf");   
}

@font-face{
    font-family: "contentFont";
    src: url("../../font/GillSans.ttc");
}

@media only screen and (min-width: 1920px) {

    body {
        padding: 100px !important;
        padding-top: 0% !important;
    }
    
    .graph{
        height: 80%;
    }
}

@media only screen and (max-height: 800px) {

    .container {
        height: 112vh
    }
}

body{
    padding-top: 0%;
    padding-left: 6%;
    padding-right: 6%;
}


button{
    padding-bottom:10px;
    text-align: left;
    border: 0px;
    background: none;
    color: #C9C9C9;
    font-size: 19px;
    font-family: "filterFont";
    outline: none;
}

.container{
    width:100%;
    height:100vh;
    display: inline-flex;
}

.filter{
    display: block;
    
}

.filter .isActive{
    display:block;
}


.graph-content{
    position: relative;
    width: 80%;
    display: inherit;
}
/*

.graph{
    width: 100%;
    margin-left:auto;
    margin-right: auto;
}
*/

.graph{position: absolute;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    top: 10%;
    left: 10%;}
.left-panel{
    height:100%;
    width:220px;
}

.logo{
    width:100%;
    height: 217px;
    background: url("../../Images/fovlogo.jpg");
    background-repeat: no-repeat;
    background-size: 120px 61px;
    background-position: left center;
}

.left-panel-top{
       width:100%;
    height: 217px;
    background-size: 120px 61px;
    background-position: left center; 
}
.left-panel-heading{
    font-family: "headerFont";
    font-size: 19px;
    color: #00A99D;
}

.left-panel-content{
    margin-top:20px;
    font-family : "contentFont";
    font-size : 14px;
    color : #606060;
}

.right-panel{
    height:100%;
    width:220px;
}

.sub-filter{
    
    display: inline-flex;
}


.filter-img{

    background-size: 40px !important;
    background-repeat: no-repeat !important;
}
