@font-face{
    font-family: "headerFont";
    src:url("../../font/Helvetica-Oblique.otf");   
}

@font-face{
    font-family: "filterFont";
    src:url("../../font/Helvetica-Bold.otf");   
}

@font-face{
    font-family: "contentFont";
    src: url("../../font/GillSans.ttc");
}

@media only screen and (min-width: 1920px) {

    body {
        padding: 100px !important;
        padding-top: 0% !important;
    }
    
    .graph{
        height: 80%;
    }
}

@media only screen and (max-height: 900px) {

.legends-key{
    height:28% !important; 
    }
}

@media only screen and (max-height: 800px) {

    .logo {
        height: 20% !important;
    }
    .left-panel-top{
        height: 20% !important;

    }

    .container {
        height: 112vh
    }
    .graph{
        height:100% !important;
    }
}

body{
    padding-top: 0%;
    padding-left: 6%;
    padding-right: 6%;
}

.bottom-description{
    font-family : "contentFont";
    font-size : 14px;
    color : #606060;
    height:50%;
    top: 100%;
    position: relative;
    width:85%;

}

button{
    padding-bottom:10px;
    text-align: left;
    border: 0px;
    background: none;
    color: #C9C9C9;
    font-size: 19px;
    font-family: "filterFont";
    outline: none;
}

.container{
    width:100%;
    height:100vh;
    display: inline-flex;
}

.filter{
    display: block;
    
}

.filter .isActive{
    display:block;
}


.filter-img{

    background-size: 40px !important;
    background-repeat: no-repeat !important;
}


.graph-content{
    position: relative;
    width: 80%;
    display: inherit;
}

.decreaseheight{
    height: 70%;
}

.graph{position: absolute;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    top: 10%;
    left: 10%;}
.left-panel{
    height:100%;
    width:220px;
}

.left-panel-top{
       width:100%;
    height: 217px;
    background-size: 120px 61px;
    background-position: left center; 
}
.left-panel-heading{
    font-family: "headerFont";
    font-size: 19px;
    color: #00A99D;
}

.left-panel-content{
    margin-top:20px;
    font-family : "contentFont";
    font-size : 14px;
    color : #606060;
    margin-bottom: 20%;
}

.isDisabled{
    display: none;
}

.isActive{
    display: block;
}

.left-panel-linkdiscpt{
    margin-top:20px;
    font-family : "contentFont";
    font-size : 14px;
    color : #606060;
    margin-bottom: 20%;
}

.legends{
    height:10%; 
    padding-top: 10%;
}

.legends-key{
    height:16%; 
    margin-bottom:5%; 
    overflow-x:hidden;
    font-family : "contentFont";
    font-size : 14px;
    color : #606060;
}

#legendskey::-webkit-scrollbar { 
    display: none; 
}

#legendskey::-moz-scrollbar { 
    display: none; 
}

.legends-key:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
}

.legend-heading{
    font-family : "contentFont";
    font-size : 14px;
    color : #606060;
    margin-bottom:  6%;
    
}

.logo{
    width:100%;
    height: 217px;
    background: url("../../Images/fovlogo.jpg");
    background-repeat: no-repeat;
    background-size: 120px 61px;
    background-position: left center;
}

.right-panel{
    display: block;
    height:100%;
    width:220px;
}

.right-panel.isDisabled{
    display:none !important;
}

.sub-filter{
    
    display: inline-flex;
}

