@font-face{
    font-family: "headerFont";
    src:url("../../font/Helvetica-Oblique.otf");   
}

@font-face{
    font-family: "filterFont";
    src:url("../../font/Helvetica-Bold.otf");   
}

@font-face{
    font-family: "contentFont";
    src: url("../../font/gill-sans-std.otf");
}

@media only screen and (min-width: 1920px) {

    body {
        padding: 100px !important;
        padding-top: 0% !important;
    }
    
    .graph{
        height: 80%;
    }
}

@media only screen and (min-height: 900px){
    .left-panel-content{
        max-height: 54vh;
    }
    .left-panel-linkdiscpt{
         max-height: 54vh;
    }
    .bottom-description{
        max-height: 26vh;
        
    }
}

@media only screen and (max-height: 900px) {

.legends-key{
    height:28% !important; 
    }
}

@media only screen and (max-height: 850px) {

    .logo {
        height: 20% !important;
        margin-top: -5%;
    }
    .left-panel-top{
        height: 20% !important;
       

    }
    
    .left-panel-linkdiscpt{
         max-height: 64vh;
    }
    
    .bottom-description{
            max-height: 29vh;
            overflow-y: auto;
    }

    .container {
        height: 112vh
    }
    .graph{
        height:100% !important;
    }
    
    .left-panel-content{
        max-height: 53vh;
    }
}

body{
    padding-top: 0%;
    padding-left: 6%;
    padding-right: 6%;
}

.bottom-description{
    overflow: hidden;
    font-family : "contentFont";
    font-size : 14px;
    color : #606060;
    height:50%;
    top: 100%;
    position: relative;
    width:80%;
    left:5%;

}

button{
    padding-bottom:10px;
    text-align: left;
    border: 0px;
    background: none;
    color: #C9C9C9;
    font-size: 19px;
    font-family: "filterFont";
    outline: none;
}

.container{
    width:100%;
    height:100vh;
    display: inline-flex;
}

.filter{
    display: block;
    max-height: 71vh;
    overflow-y: auto;
    position: relative;
    overflow: hidden;
    
    
}

.filter .isActive{
    display:block;
}


.filter-img{

    background-size: 40px !important;
    background-repeat: no-repeat !important;
}


.graph-content{
    position: relative;
    width: 80%;
    display: inherit;
}

.decreaseheight{
    height: 70%;
}

.graph{position: absolute;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    top: 10%;
    left: 10%;}
.left-panel{
    height:100%;
    width:220px;
}

.left-panel-top{
       width:100%;
    height: 217px;
    background-size: 120px 61px;
    background-position: left center; 
}
.left-panel-heading{
    font-family: "headerFont";
    font-size: 19px;
    color: #00A99D;
}

.left-panel-content{
    position: relative;
    overflow: hidden;
    margin-top:20px;
    font-family : "contentFont";
    font-size : 14px;
    color : #606060;
    margin-bottom: 20%;
/*    overflow-y: auto;*/
}



.isDisabled{
    display: none;
}

.isActive{
    display: block;
}

.left-panel-linkdiscpt{
    position:relative;
    margin-top:20px;
    font-family : "contentFont";
    font-size : 14px;
    color : #606060;
    margin-bottom: 20%;
/*    overflow-y: auto;*/
    overflow: hidden;
}

.legends{
    height:10%; 

}

.legends-key{
    height:16%; 
    margin-bottom:5%; 
    overflow-x:hidden;
    font-family : "contentFont";
    font-size : 14px;
    color : #606060;
}

#legendskey::-webkit-scrollbar { 
    display: none; 
}

#legendskey::-moz-scrollbar { 
    display: none; 
}

.legends-key:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
}

.legend-heading{
    font-family : "contentFont";
    font-size : 14px;
    color : #606060;
    margin-bottom:  6%;
    
}

.logo{
    width:100%;
    height: 217px;
    background: url("../../Images/fovlogo.jpg");
    background-repeat: no-repeat;
    background-size: 120px 61px;
    background-position: left center;
}

.right-panel{
    display: block;
    height:100%;
    width:220px;
}

.right-panel.isDisabled{
    display:none !important;
}

.sub-filter{
    
    display: inline-flex;
}

/*
::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
*/


